/* remove top border for body defined by typogridphy */
body {
    border-top: none;
}

/* redefine top border defined by typogridphy */
.generic {
	border-top: 0.2em solid #666;
}

div#header {
    text-align: right;
}

div#header span {
    font-size: large;
}

.piuml {
    font-variant: small-caps;
}

div.generic h2 {
    font-variant: small-caps;
}

/* title section */
div.title h2 {
    font-size: x-large;
}

div.title blockquote {
    font-size: large;
    font-style: italic;
}

